body {
  font-size: 25px;
}
// ul {
//   list-style: none;
// }

li {
  margin-left: 20px;
}

.form-control {
  font-size: 25px;
  margin: 30px auto;
}

.card {
  width: 320px;
  margin: 0 auto;
  padding: 10px;
}

a {
  cursor: pointer;
  color: currentColor;
}

a:hover,
a:focus {
  text-decoration: none;
}
