body {
  font-size: 25px;
}

li {
  margin-left: 20px;
}

.form-control {
  font-size: 25px;
  margin: 30px auto;
}

.card {
  width: 320px;
  margin: 0 auto;
  padding: 10px;
}

li {
  cursor: pointer;
}

li:hover {
  background-color: rgba(100, 156, 221, 0.349);
}
